.commerce-otp-icons .label {
  font-weight: bold;
  padding-left: 19px;
  margin-right: 5px;
}

.commerce-otp-icons {
  position: relative;
  top: 6px;
  margin-right: 4px;
}

.commerce-otp-icons img {
  height: 21px;
}
